body {
    font-family: Arial Narrow, sans-serif;
    color: #818181;
   background-color:#F2EADF;
    }
   /* Especificidad: 001*/
   h1 {
   color: rgb(0, 0, 0);
   background-color:#F2EADF;
   font-family:Arial, Helvetica, sans-serif ;
   padding: 2em;
    text-transform: uppercase;
    text-align: center;
   }
   h2,h3,h4,h5{
    color: rgb(0, 0, 0);
    background-color:#F2EADF;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 2em;
    text-transform: uppercase;

   }
   table,td {
	border: 3px solid black;
}
  