/* Especificidad: 001*/
body {
   
    font-family: Arial Narrow, sans-serif;
    color: #818181;
    
   background-color:#F2EADF;
    }
 /* Especificidad: 001*/
   h1 {
   color: rgb(0, 0, 0);
   background-color:#F2EADF;
   font-family:Arial, Helvetica, sans-serif ;
   padding: 2em;
    text-transform: uppercase;
    text-align: center;
   }
/* Especificidad: 001*/
   h2,h3,h4,h5{
    color: rgb(0, 0, 0);
    background-color:#F2EADF;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 2em;
    text-transform: uppercase;

   }
/* Especificidad: 001*/
  table,td {
	border: 3px solid black;
}
/* Especificidad: 010*/
.hipervinculos{
   display: inline-block;
   background: salmon;
    color: rgb(1, 88, 104);
    padding:10px 30px;
    font-family:Verdana, sans-serif	 ;
    text-decoration:  none;

}

/*Especifidad 001*/
li{
   list-style-type:square;
}
/*Especifidad 001*/
div{

   margin: 30px
 }
 /*Especifidad 001*/
 footer {
   display: flex;
   text-align: center;
  padding: 3px;
  background: rgb(151, 240, 171);
  color: rgb(14, 13, 13);
 }
  /*Especifidad 001*/

 img{
  
   padding: 10px;
   width: 250px;
   
 }
  /*Especifidad 001*/
video {
   padding: 10px;
   width: 420px;
 }
  /*Especifidad 001*/

 audio{
   padding: 100px;
 }
 .boton{
   padding: 10px;
   width: 250px;

 }

  